doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/edit.css')
    link(rel='stylesheet', href='/stylesheets/wangEditor.css')

  body(data-post-id='#{postId}')
    div(class='class-div-editor-container')
      input(id='title', placeholder='标题')
    div(class='class-div-editor-container')
      div(id="editor")
      div(class='class-div-button-container')
        button(id='save') 保存
        button(id='publish') 发布
    div(class='class-div-alter-container')
      p 保存成功...


    script(type="text/javascript" src="/javascripts/lib/jquery-1.10.2.min.js")
    script(type="text/javascript" src="/javascripts/wangEditor.js")
    script(type="text/javascript" src="/javascripts/edit.js")
