extends layout

block content
  div(class='bar')
  div(class='div-main-container')
    div(class='div-close')
    div(class='item')
      h1 长江二桥
  a(href='/post/create' class='div-back-top')
    i(class="fa fa-pencil" aria-hidden="true")
  a(href='/subscribe' class='div-rss')
    i(class="fa fa-rss" aria-hidden="true")
  script(type="text/javascript" src="/javascripts/index_master.js")

