extends layout

block content
  h1= title
  p Welcome to #{title}
  button(id="test") ok
  div(class='bar' data-id = "#{info.id}" id="post-id")
  div(class='div-main-container')
    div(class='div-close')
    div(class='item')
      h1 长江二桥
