extends layout

block content
  div(class='bar')
  div(class='div-main-container')
    div(class='div-close')
    div(class='item')
      h1 长江二桥
    div(class='div-password-container')
      div(class='div-password-banner')
      input(type='password' id='input' name='input' placeholder='请输入密码')
      div(class='div-password-button')
        span 确定
  script(type="text/javascript" src="/javascripts/login.js")


